<ion-view view-title="เพิ่มข้อมูล GAP">
    <ion-content>
        <div class="padding">
            แบบประเมินแหล่งผลิตของเกษตรกรเบื้องตน: พื้นที่ปลูก
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <ion-checkbox ng-model="qLand.q1">{{qLand[0].question}}</ion-checkbox>
            </div>
            <div class="item item-text-wrap">
                <ion-checkbox ng-model="qLand.q2">{{qLand[1].question}}</ion-checkbox>
            </div>
            <div class="item item-text-wrap">
                <ion-checkbox ng-model="qLand.q3">{{qLand[2].question}}</ion-checkbox>
            </div>
        </div>
    </ion-content>
</ion-view>
