<ion-view view-title="ข่าว สปก.">
    <ion-content>
        <!-- <div class="card">
      <div class="item item-text-wrap" ng-repeat="item in news.rss.channel.item">
        {{item.title}} 
        <p><a href="http://{{item.link}}" class="subdued">pdf</a>
      </div>
    </div> -->
        <button class="button button-energized" ng-click="addImage()">
            Add image
        </button>
        <br>
        <br>
        <ion-scroll>
            <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" height="200px" />
        </ion-scroll>
    </ion-content>
</ion-view>
