<ion-view view-title="Smart Farmer">
    <ion-content>
        <ng-map class="map" center="[{{data.lat}}, {{data.lng}}]" zoom="12" map-type-control="true">
            <overlay-map-type object="imageMapType" init-method="push">
            <marker position="[{{data.lat}}, {{data.lng}}]" draggable=true on-dragend="getCurrentLocation()"></marker>
        </ng-map>
        <div class="row">
            <div class="col">
                <label>ละติจูด: <input type="number" ng-model="data.lat"/></label>
            </div>
            <div class="col">
                <label>ลองจิจูด: <input type="number" ng-model="data.lng"/></label>                
            </div>
        </div>
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="showQuestion()">
                <img ng-src="img/lamp.png">
                <h2>กรอกข้อมูลรายแปลง</h2>
                <p>บันทึกสถานภาพของแปลงและการใช้ที่ดิน</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="showDetail()">
                <img ng-src="img/home.png">
                <h2>ข้อมูลแปลง {{alrcode}}</h2>
                <!-- <p>{{data.lat | number:4}} , {{data.lng | number:4}} </p> -->
                <p>คุณสมบัติของแปลงที่ดิน</p>
                <!-- <p>เลขแปลง: {{alrcode}}</p> -->
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="showCWRchart()">
                <img ng-src="img/crop.png">
                <h2>เช็คงบดุลน้ำ</h2>
                <p>ประเมินการขาดน้ำของพืชที่เพาะปลูก</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="showGMP()">
                <img ng-src="img/lamp.png">
                <h2>ประเมิน GAP</h2>
                <p>ประเมินความปลอดภัย แหล่งน้ำ และพื้นที่เพาะปลูก</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            </label>
        </ion-list>
    </ion-content>
</ion-view>
