<ion-view view-title="Smart Farmer">
  <ion-nav-buttons side="right">
      
    <button class="button button-icon ion-loop" ng-click="reload()"></button>
    <button class="button button-icon ion-search" ng-click="openModal(1)"></button>    
    <button class="button button-icon ion-earth" ng-click="openModal(2)"></button>      
    <button class="button button-icon ion-document" ng-click="openModal(3)"></button>
    <button class="button button-icon icon ion-pinpoint" ng-click="locate()"></button>
  </ion-nav-buttons>

  <ion-content>
    <leaflet lf-center="center" layers="layers" markers="markers" width="100%" height="50%"></leaflet>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="showQuestion()">
        <img ng-src="img/crop.png">
        <h2>กรอกข้อมูลรายแปลง</h2>
        <p>บันทึกสถานภาพของแปลงและการใช้ที่ดิน</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="showDetail()">
        <img ng-src="img/home.png">
        <h2>ข้อมูลแปลง {{alrcode}}</h2>
        <!-- <p>{{data.lat | number:4}} , {{data.lng | number:4}} </p> -->
        <p>คุณสมบัติของแปลงที่ดิน</p>
        <!-- <p>เลขแปลง: {{alrcode}}</p> -->
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="showCWRchart()">
        <img ng-src="img/climate.png">
        <h2>เช็คงบดุลน้ำ</h2>
        <p>ประเมินการขาดน้ำของพืชที่เพาะปลูก</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-click="showGMP()">
        <img ng-src="img/lamp.png">
        <h2>ประเมิน GAP</h2>
        <p>ประเมินความปลอดภัย แหล่งน้ำ และพื้นที่เพาะปลูก</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      </label>
    </ion-list>
  </ion-content>
</ion-view>
